@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Anton|Bree+Serif|Lora|Righteous');

/* Tic Tac Toe Project ******************************************************************/
body {
    padding: 0;
    margin: 0;
    background-color: #f8e863;
    font-family:'Lora', serif;
}

/* home page ******************************************************************************/
.container {
    width: 950px;
    margin: 0 auto;
}

h1 {
    color: #1b2276;
    text-align: center;
    font-size: 60px;
}

img {
    width: 550px;
    height: 550px;
    opacity: 0.9;
    margin: 10px auto;
    display: block;

}

button {
    display: block;
    width: 140px;
    padding: 5px;
    margin: 35px auto;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #05082e;
    cursor: pointer;
}

a {
    color: #1b2276;
    text-decoration: none;
}

/* users' name page **************************************************************************/
#name {
    width: 950px;
    margin: 0 auto;
}

.gif {
    display: block;
    width: 550px;
    height: 520px;
    margin-bottom: 0px;
}

#inputs {
    display: block;
    background-color: #22313e;
    width: 540px;
    height: 230px;
    margin: 0 auto;
    padding: 5px;
}

input {
    display: block;
    width: 500px;
    height: 40px;
    margin: 10px auto;
    font-family: 'Acme', sans-serif;
    color: #de8346;
    font-size: 15px;
    font-weight: bold;  
    border-radius: 6px;
    text-align: center;
}

.arrow {
    width: 80px;
    height: 40px;
    color: #de8346;
    transform: rotate(90deg);
    vertical-align: middle;
    margin-left: 75px;
}

#white-circle {
    background-color: white;
    border: 6px solid #de8346;
    border-radius: 100%;    
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 80px;
   
}

#go {
    font-size: 17px;
    text-align: center;
   padding-left: 1px;
}

.inline {
    display: inline;
}


/* game page *******************************************************************************/
#game {
    width: 550px;
    margin: 0 auto;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#information{
width: 550px;
/* margin-bottom: 10px; */
background-color: #252d65;
border-radius: 10px;
}

.name {
    width: 225px;
    height: 40px;
    margin: 0 10px;
    font-size: 20px;
}

.point {
    width: 225px;
    height: 40px;
    font-size: 20px;
}

.sign {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 0 10px;;
}

#game-board {
    background: url(../images/gameBg.jpg);
    width: 550px;
    height: 550px;
    margin: 16px auto;
    box-shadow: 10px 10px 20px #252d65;
    border-radius: 10px;
}

.cell {
    width: 160px;
    height: 160px;
    background-color: #252d65;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 10px 10px;
    border-radius: 10px;
    opacity: 0.9;
}

.cell img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40px;
    right: 50px;
}

/* winner part ****/
.hidden{
    display: none;
}

#winner {
    width: 550px;
    height: 550px;
    background-color: white;
    margin: 0 auto;
}


/* game over ****/

#gameOver-buttons {
    display: block;
    width: 280px;
    margin: 0 150px;
}
.button {
    width: 120px;
    font-size: 17px;
    letter-spacing: 0.2px;
    color: #252d65;
    margin-right: 10px;
}